@page
@model WebEnvironmentDataCollector.Pages.ReservedModel
@{
    ViewData["Title"] = "Gestione utenti";
}

@section Styles{
    <style>
    </style>
}
<div class="row">

</div>

@section Scripts {
    <script>
        const srvUrl = '@Url.Content("~")/';

    </script>
}
